body{

font-family:Arial;

background:#f5f5f5;

margin:0;

}

header{

background:#1B263B;

color:white;

text-align:center;

padding:1rem;

}

main{

max-width:500px;

margin:auto;

background:white;

padding:20px;

border-radius:10px;

}

form{

display:flex;

flex-direction:column;

gap:10px;

}

.rating{

display:flex;

gap:10px;

}

input[type="submit"]{

background:#E0A458;

border:none;

padding:10px;

cursor:pointer;

}